.app-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.input-row input {
  flex: 1;
  padding: 8px;
}

.input-row button {
  font-size: 20px;
  padding: 0 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}
